<!DOCTYPE HTML>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="css/style_pc.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="css/style_sp.css">
	<title>太洋ボウル</title>
</head>

<body>

	<header>
		<div class="hum_menu">
			<!-- このクラスがハンバーガーボタンになる -->
			<a href="javascript:void(0);">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>

		<ul>
			<li>HOME</li>

		</ul>
	</header>


	<article>
		<section id="sec1">
			<h1>太洋ボウル</h1>
		</section>

		<section id="sec2">
			<h1>太洋ボウル<br>ご案内</h1>
			<div class="box flex_area">
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>施設案内</h2>
					<p>
						（住所）香川県高松市観光通２丁目１０−１５<br>
						（電話）087-833-0300 <br>
						（営業時間）9時00分～22時00分（月曜火曜お休み）<br>
						（利用料金）ビジター３G１，３００円<br>
						（レーン）４０レーン
					</p>
				</div>
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>事業内容</h2>
					<p>高松市中心部から車で５分の場所にあるボーリング場です。
						キッズスペースやゲームコーナーを併設しいている為、子供連れでも安心してボーリングを楽しめます。
					</p>
				</div>
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>託児サービスについて</h2>
					<p>毎週水曜日の１０時～１５時に託児サービスをしております。託児料金は１時間１，５００円です。
					</p>
				</div>
			</div>
		</section>




		<footer>
			<p class="copyright">Mbaco 「MAMAりふれ」</p>
		</footer>
	</article>

</body>

</html>