<!DOCTYPE HTML>
<html lang="ja">


<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_top.css">
	<title>MAMAりふれ</title>
</head>

<body>

	<header>
		<div class="hum_menu">
			<!-- このクラスがハンバーガーボタンになる -->
			<a href="javascript:void(0);">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>

		<ul>
			<li><a href="#sec1">HOME</a></li>
			<li><a href="#sec2">利用案内</a></li>
			<li><a href="#sec3">施設案内</a></li>
			<li><a href="../templates/contact.html">質問・問合せ</a></li>
			<li><a href="../templates/mypage.html">マイページ</a></li>
			<li><a href="../templates/index.html">会員登録</a></li>
		</ul>
	</header>


	<article>
		<section id="sec1">
			<h1>
				産後ママのリフレッシュを応援します<br>
				「MAMAりふれ」
			</h1>
		</section>

		<section id="sec2">
			<h1>ご利用の流れ</h1>
			<div class="box flex_area">
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>その１</h2>
					<p>まずは会員登録をお願い致します。
					</p>
				</div>
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>その２</h2>
					<p>利用したい施設を選択し、エントリーボタンからお申込みをお願い致します。
					</p>
				</div>
				<!-- 課題１.flex_area_itemクラス名を追加 -->
				<div class="flex_area_item">
					<h2>その３</h2>
					<p>お申込みいただいた日時にお越しいただき受付をお願い致します。
					</p>
				</div>
			</div>
		</section>

		<section id="sec3">
			<div class="box">
				<h1>「MAMAりふれ」とは</h1>
				<p>
					わたしをもっと楽しもう！<br>
					わたしも子供ももっと笑顔に！
				</p>
				<p>
					育児や家事に追われて自分の時間を取ることが難しいママのみなさん。<br>
					出産、子育てで、スポーツをあきらめてませんか？<br>
					子供が小さいうちは、<br>
					子供を預けてスポーツをする時間を持つことも難しいと感じている方も多くいらっしゃいます。<br>
					そんなママのために、MAMAリフレでは、託児サービスのある情報を発信しています。<br>
					施設の検索・エントリー予約までを行うことができます。<br>
					忙しいママが安心して子供を預けることができ、心も体もリフレッシュできる環境を作ります。
				</p>

			</div>
		</section>

		<section id="sec4">
			<div class="box port">
				<h1>スポーツ施設リスト</h1>
				<p>高松市内で託児サービスを行っているスポーツ施設の紹介<br>
					各施設のページから予約が可能です
				</p>

				<div class="portfolio">
					<a href="./golf.html"><img src="../static/img/thumb_01.jpg" alt="あいうえお">
						<p class="port_title">瀬戸内ゴルフセンター様</p>
					</a>
					<!--課題4. divにクラス名を追加 portfolio_textblock-->
					<div class="portfolio_textblock">
						<!--課題4. その他の解答 pにクラス名を追加 portfolio_text-->
						<p class="portfolio_text">高松市中心部から車で１０分の場所にあるゴルフ練習場。
							キッズスペースや喫茶店を併設しいている為、子供連れでも安心してゴルフ練習を楽しめます。

						</p>
					</div>

				</div>

				<div class="portfolio flex_reverse">
					<!--課題4. divにクラス名を追加 portfolio_textblock-->
					<div class="portfolio_textblock">
						<!--課題4. その他の解答 pにクラス名を追加 portfolio_text-->
						<p class="portfolio_text">ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。
							ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。

						</p>
					</div>

					<a href="./bowling.html"><img src="../static/img/thumb_02.jpg" alt="かきくけこ">
						<p class="port_title">太洋ボウル様</p>
					</a>
				</div>

				<div class="portfolio">
					<a href="#"><img src="../static/img/tennis.jpg" alt="さしすせそ">
						<p class="port_title">〇〇テニス様</p>
					</a>
					<!--課題4. divにクラス名を追加 portfolio_textblock-->
					<div class="portfolio_textblock">
						<!--課題4. その他の解答 pにクラス名を追加 portfolio_text-->
						<p class="portfolio_text">テニステニステニステニステニステニステニステニステニステニステニステニステニステニステニス

						</p>
					</div>
				</div>


			</div>

		</section>
		<footer>
			<p class="copyright">Mbaco 「MAMAりふれ」</p>
		</footer>
	</article>

</body>

</html>